{%load static%}
<section class="ftco-section ftco-no-pt ftco-no-pb" >
  <div class="container">
    <div class="row no-gutters">
      <div
        class="
          col-md-6
          p-md-5
          img img-2
          d-flex
          justify-content-center
          align-items-center
        "
        style="background-image: url({%static "images/about.jpg"%})"
      ></div>
      <div class="col-md-6 wrap-about py-md-5 ftco-animate">
        <div class="heading-section mb-5 pl-md-5">
          <span class="subheading">About us</span>
          <h2 class="mb-4">Carvice: Car Rental System</h2>

          {% comment %} <p>Carvice has a new face. After more than 20 years in business, we decided to give a fresher look to our
            brand and our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations
            and requirements.</p>
          <p>Carvice is Philippines' most distinguished rental car company.
            We provide customers with approximately 850 locations and 42,000 vehicles throughout Philippines.
            As we are not affiliated with any specific automaker, we are able to provide a variety of vehicle makes
            and models for customers to rent.
            Rather than let vehicles age, we also replace our most popular passenger vehicles every few years.
            Replacing used vehicles eliminates uncomfortable wear and tear, and reduces the risk of breakdown and
            other inconveniences to our customers.
            The most trusted name in vehicle rentals.</p> {% endcomment %}
          <p>Carvice is a web based car rental system that will help manage the business transactions of car renting. It is primarily intended for small businesses who provide car rental services to clients</p>
          <p>Carvice wants to offer you: 
            <ul>
              <li>Maintenance of detailed data of both the cars and the clients, including the length of time they hire a car and the sort of vehicle they rent.</li>
              <li>Track of all the available and unavailable vehicles that can be offered to the customers.</li>
              <li>Generated and printed invoice for each successful transaction</li>
            </ul>
          </p>
          <p><a href="#" class="btn btn-primary">Search Dashboard</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
