{% load static %}

<div class="row d-flex mb-5 contact-info justify-content-center">
    <div class="col-md-8">
        <div class="row mb-5">
            <div class="col-md-4 text-center py-4">
                <div class="icon">
                    <span class="icon-map-o"></span>
                </div>
                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
            <div class="col-md-4 text-center border-height py-4">
                <div class="icon">
                    <span class="icon-mobile-phone"></span>
                </div>
                <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
            </div>
            <div class="col-md-4 text-center py-4">
                <div class="icon">
                    <span class="icon-envelope-o"></span>
                </div>
                <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
            </div>
        </div>
    </div>
</div>