{% load static %}
<div
  class="hero-wrap"
  style="background-image: url({% static "images/bg_1.jpg"%} )"
  data-stellar-background-ratio="0.5"
>
<div class="overlay"></div>
<div class="container">
  <div class="
        row
        no-gutters
        slider-text
        justify-content-start
        align-items-center
      ">
    <div class="col-lg-6  ftco-animate d-flex align-items-end">
      <div class="text">
        <h1 class="mb-4">
          Now <span>It's easy for you</span> <span>rent a car</span>
        </h1>
        <p style="font-size: 18px">
          Carvice is a new face but we always give a fresher look to our
          brand and our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations
          and requirements.
        </p>
        <div class="" style="width:100%">
          <div class="form-group">
            <div class="form-field">
              <a href="{% url 'app:booking_registration_view' %}">
                <input type="submit" value="Book Now" class="form-control btn btn-primary">
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-2 col"></div>

    </div>
  </div>
</div>
</div>
