
    {%load static%}
    <section class="ftco-section">
    	<div class="container-fluid px-4">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">What we offer</span>
            <h2 class="mb-2">Choose Your Car</h2>
          </div>
        </div>
    		<div class="row">
			{% for rental_car in rental_car %}
    			<div class="col-md-3">
    				<div class="car-wrap ftco-animate">
    					<div class="text p-4 text-center">
    						<h2 class="mb-0">{{rental_car.car_id.model}}<a href="#"></a></h2>
    						<span>{{rental_car.car_id.brand}}</span>
							<a  href="{% if logged_in_user %}{% url 'app:book_car_view' %}{% else %}{% url 'app:signin' %}{% endif %} "class="btn btn-black btn-outline-black mr-1">Book now</a>
    					</div>
    				</div>
    			</div>
			{% endfor%}


    			

    		</div>
    	</div>
    </section>
