<section class="ftco-section services-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <span class="subheading">Our Services</span>
        <h2 class="mb-2">Our Services</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon">
                <span class="flaticon-customer-support"></span>
              </div>
              <h3 class="heading mb-0 pl-3">24/7 Car Support</h3>
            </div>
            <p>
              A small river named Duden flows by their place and supplies it
              with you
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon"><span class="flaticon-route"></span></div>
              <h3 class="heading mb-0 pl-3">Lots of location</h3>
            </div>
            <p>
              A small river named Duden flows by their place and supplies it
              with you
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon">
                <span class="flaticon-online-booking"></span>
              </div>
              <h3 class="heading mb-0 pl-3">Reservation</h3>
            </div>
            <p>
              A small river named Duden flows by their place and supplies it
              with you
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon"><span class="flaticon-rent"></span></div>
              <h3 class="heading mb-0 pl-3">Rental Cars</h3>
            </div>
            <p>
              A small river named Duden flows by their place and supplies it
              with you
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
