{% extends "../templates/base.html" %}

{%block content%}

    {%include "../components/booking_section.html"%}
    {%include "../components/selection_section.html"%}
    {%include "../components/services_section.html"%}
    {%include "../components/car_showcase_section.html"%}
    {%include "../components/workflow_section.html"%}
    {%include "../components/testimony_section.html"%}
    {%include "../components/about_us_section.html"%}
    {%include "../components/recent_blog_section.html"%}

{%endblock content%}