{% extends "../templates/base.html" %}

{%block content%}

    {%include "../components/booking_section.html"%}
    <div style="margin-bottom:4%;"></div>
    {% comment %} {%include "../components/selection_section.html"%} {% endcomment %}
    {%include "../components/services_section.html"%}
    {%include "../components/car_showcase_section.html"%}
    {%include "../components/workflow_section.html"%}
    {%include "../components/testimony_section.html"%}
    {%include "../components/about_us_section.html"%}

{%endblock content%}