{% extends "../../templates/admin_insert_base.html" %} 
{% load static %} 
{%block form_content%} 
{% csrf_token %}
<h4><b>Add Admin</b></h4>

<div class="form-group">
  <label for="user_id">User</label>
  <select class="form-control" id="user_id" name="user_id" required>
    <option value="" selected hidden>Select User</option>
    {% for user in user %}
    <option value="{{user.user_id}}">{{user.username}}</option>
    {% endfor %}
  </select>
  <div class="valid-feedback">Looks good!</div>
  <div class="invalid-feedback">Please select user</div>
</div>
<div class="form-group mt-5">
  <button type="submit" class="btn btn-block btn-primary py-3 px-4">
    Insert
  </button>
</div>

{%endblock form_content%}
