{%load static%}
<div
  class="hero-wrap"
  style="background-image: url({% static "images/bg_1.jpg"%} )"
  data-stellar-background-ratio="0.5"
>
<div class="overlay"></div>
<div class="container">
  <div class="
        row
        no-gutters
        slider-text
        justify-content-start
        align-items-center
      ">
    <div class="col"></div>
    <div class=" col-md-6">
      <div class="container p-3" style="background-color: white; border-radius: 10px;">
        <form class="needs-validation m-2" novalidate id = "form2" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
          <h4><b>Add Car</b></h4>
          <div class="form-group">
            <label for="model" class="form-label">Model</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" name="model" id="model" required>
              <div class="invalid-feedback">
                Please choose a model.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="brand" class="form-label">Brand</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" name="brand" id="brand" required>
              <div class="invalid-feedback">
                Please choose a brand.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="year" class="form-label">Year</label>
            <div class="input-group has-validation">
              <input type="date" class="form-control" name="year" id="year" required>
              <div class="invalid-feedback">
                Please choose a date.
              </div>
            </div>
          </div>


          <div class="form-group mt-5">
            <button type="submit" class="btn btn-block btn-primary py-3 px-4">Insert</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col"></div>

  </div>
</div>
</div>