{%load static%}
<div
  class="hero-wrap"
  style="background-image: url({% static "images/bg_1.jpg"%} )"
  data-stellar-background-ratio="0.5"
>
<div class="overlay"></div>
<div class="container">
  <div class="
        row
        no-gutters
        slider-text
        justify-content-start
        align-items-center
      ">
    <div class="col"></div>
    <div class=" col-md-6">
     {% for msg in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor%}
      <div class="container p-3" style="background-color: white; border-radius: 10px;">
        <form class="needs-validation m-2" novalidate id = "form3" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
          {% csrf_token %}
          <h4><b>Add Rental Car</b></h4>
          <div class="form-group">
            <label for="car_id">Car</label>
            <select class="form-control" id="car_id" name="car_id" required>
              <option value="" selected hidden>Select Car</option>
                {% for car in car %}
              <option value="{{car.car_id}}"> {{car.model}}</option>
                {% endfor %}
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please select a model
            </div>
          </div>

          <div class="form-group">
            <label for="id_avail">Availability</label>
            <select class="form-control" id="availability" name="availability" required>
                <option value="" selected hidden>Is it available?</option>
                <option value="1" name="1"> Yes</option>
                <option value="0" name="0"> No</option>
            </select>
            <div class="invalid-feedback">
                Please select an availability
            </div>
        </div>

        <div class="form-group">
            <label for="fee_per_day" class="form-label">Fee Per Day</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="fee_per_day" name="fee_per_day" required>
                <div class="invalid-feedback">
                    Please enter a fee.
                </div>
            </div>
        </div>

          <div class="form-group mt-5">
            <button type="submit" class="btn btn-block btn-primary py-3 px-4">Insert</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col"></div>

  </div>
</div>
</div>